<ion-header>
  <ion-toolbar>
    <ion-title>Sobre o Aplicativo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Nome do Aplicativo: Parapente-Weather</h2>
  <p>
    <strong>Descrição:</strong><br>
    O Parapente-Weather é um aplicativo voltado para entusiastas de parapente que desejam ter acesso rápido e fácil às condições meteorológicas necessárias para praticar seu esporte com segurança. Com uma interface intuitiva e amigável, o aplicativo fornece informações detalhadas sobre o clima atual e previsto, incluindo temperatura, umidade, velocidade do vento e previsões futuras. Além disso, o Parapente-Weather oferece uma avaliação das condições de voo, ajudando os pilotos a determinar se o clima é adequado para suas atividades.
  </p>
  <p>
    <strong>API de Clima:</strong><br>
    O aplicativo utiliza a API do OpenWeatherMap para obter dados meteorológicos precisos e atualizados. Essa API oferece uma ampla gama de informações meteorológicas, incluindo previsões de curto e longo prazo, condições atuais e muito mais.
  </p>
  <p>
    <strong>Integrantes do Grupo:</strong><br>
    Gabriel Bernardos Esteves de Barros - 23108488<br>
    Lucas Henrique Salles Gregorio - 23106523<br>
    Tiago Ferreira Pinheiro dos Santos - 23106448
  </p>
</ion-content>
